extends layout
block content
  nav.navbar.navbar-inverse.navbar-static-top(role="navigation")
    .navbar-header
      a.navbar-brand(href="/") Socket.IO Chess

  div.container
    #messages
    #game
     #title-bar
        button#forfeit.btn.btn-sm.btn-default.pull-right Forfeit
        span Game:&nbsp;
        strong #{gameID}
      #opponent.player-info
        strong ...
        span.status.pull-right
        ul.captured-pieces.list-inline
        h3#clock 
        h3#timer1 timer(black) 
      table#board
        tr
          td.top-left-corner
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-right-corner
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
      tr
          td.left-edge
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
          td.right-edge
          
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
     tr
          td.left-edge
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.right-edge
 tr
          td.left-edge
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
          td.right-edge
       tr
          td.left-edge
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
          td.right-edge
       tr
          td.left-edge
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
          td.right-edge
           tr
                  td.left-edge
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                      td.square
                  td.right-edge
       tr
          td.left-edge
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
          td.right-edge
              tr
              td.left-edge
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                  td.right-edge
                  
       tr
                  td.bottom-left-corner
                  td.bottom-edge
                  td.bottom-edge
                  td.bottom-edge
                  td.bottom-edge
                  td.bottom-edge
                  td.bottom-edge
                  td.bottom-edge
                  td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
                    td.bottom-edge
          td.bottom-right-corner
          tr
          
          #you.player-info
        strong ...
        span.status.pull-right
        ul.captured-pieces.list-inline
        
        #game-over.modal.fade(role="dialog")
      .modal-dialog
        .modal-content
          .modal-body.text-center
            h2.alert
          .modal-footer
            a.btn.btn-primary(href="/") Continue
