extends layout

block content

  #banner.jumbotron
    .container
      h1 Socket.IO Chess
      p.
        A real-time multi-player chess app using
        <a href="http://nodejs.org">Node.js</a>,
        <a href="http://expressjs.com">Express</a>, and of course
        <a href="http://socket.io">Socket.IO</a>.
