     table#board
        tr
          td.top-left-corner
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-edge
          td.top-right-corner
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
          td.right-edge
        tr
          td.left-edge
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.square
          td.right-edge
        tr
          td.left-edge
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
          td.right-edge
        tr
          td.left-edge
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
            td.square
          td.right-edge
        tr
          td.left-edge
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
          td.right-edge
        tr
          td.left-edge
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
          td.right-edge
        tr
          td.left-edge
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
          td.right-edge
            tr
              td.left-edge
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                td.square
                  td.right-edge
                tr
                      td.bottom-left-corner
                      td.bottom-edge
                      td.bottom-edge
                      td.bottom-edge
                      td.bottom-edge
                      td.bottom-edge
                      td.bottom-edge
                      td.bottom-edge
                      td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
                          td.bottom-edge
          td.bottom-right-corner
